<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Better Call Saul Quiz</title>
</head>
<body>
    <div class="container">
        <div class="quiz-app">
            <div class="logo"></div>
            <img src="../Assets/Images/Better_Call_Saul_logo.svg.png">
            <h1> Welcome to the  <span class="title-logo">Better Call Saul</span> Quiz!</h1>
          <div class="row"> 
            <button id="quiz-start"> Get Started</button> 
            </div>
        </div>
    </div>
    
</body>
</html>